body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
}

.blogs {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.blog-center {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.blog {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(25% - 20px); /* 每行顯示4個 */
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
}

.blog:hover {
  transform: translateY(-5px);
}

.blog img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.blog-content {
  padding: 10px 15px;
}

.blog-content h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.blog-content p {
  margin: 5px 0 0;
  color: #777;
  font-size: 14px;
}
